@import 'https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', Lato, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, sans-serif;
}
